:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(270deg, #292c6c, #524f8d, #8d4f8b);
  background-size: 600% 600%;

  -webkit-animation: bgAnimation1 16s ease infinite;
  -moz-animation: bgAnimation2 16s ease infinite;
  animation: bgAnimation3 16s ease infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  font-size: 3vh;
  height: 5vh;
  background: -webkit-linear-gradient(6deg, #f6633c, #b9a1fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div {
  font-size: 1.8vh;
}
button {
  border: none;
}
img {
  display: block;
  height: 100%;

  object-fit: contain;
}
svg {
  height: 100%;

  object-fit: contain;
}

@-webkit-keyframes bgAnimation1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bgAnimation2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bgAnimation3 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 2vh 5vh;
  z-index: 2;
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  gap: 15px;
}
.connect-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.connect-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 30vw;
  border-radius: 15px;
}
.connect-button-stark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 200%;
  width: 100%;
  padding: 5%;
  min-width: 200px;
}
button:hover {
  filter: brightness(0.9);
}
.starknet-container {
  height: 100%;
  width: 100%;
  min-width: 250px;
}
.connect-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.starknet-connectors {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 30vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.starknet-dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 20vh;
  left: 0;
  z-index: 1;
  display: none;
}
.starknet-connectors:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.starknet-connectors:hover .starknet-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 45vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.124);
  border-radius: 5%;
  z-index: 2;
}
.start {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.124);
  border-radius: 15px;
  height: 12vh;
}
.input {
  width: 100%;
  height: 9vh;
  font-size: 3vh;
  padding: 5%;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.124);
  color: #efefef;
}
.from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  gap: 15px;
  height: 25vh;
}
.to {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  gap: 15px;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.124);
  border-radius: 15px;
}
.send-button {
  width: 100%;
  height: 6vh;
  border-radius: 5px;
  transition: 0.3s ease;
  border: none;
}
.send-error {
  background-color: #f6633c;
  border: 1px rgb(238, 93, 93) solid;
  color: #efefef;
}
.send-button:hover {
  filter: brightness(1.1);
  transform: translateY(-5%);
}
.balance {
  color: #efefef;
  font-size: 80%;
  height: 100%;
}
.balance:hover {
  cursor: pointer;
}

.social {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  transition: 0.3s ease;

  box-shadow: 1px 1px 10px #f6643ca3;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.social:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px #f6643cd2;
}
.hwk {
  top: 15%;
  left: 8%;
  background-image: url("./assets/hwk.webp");
  animation: hwk 30s infinite ease-in-out;
}
.codeesura {
  top: 75%;
  left: 90%;
  background-image: url("./assets/codeesura.webp");
  animation: codeesura 29s infinite ease-in-out;
}
@keyframes hwk {
  0% {
    top: 15%;
    left: 8%;
  }
  25% {
    top: 72%;
    left: 24%;
  }
  50% {
    top: 82%;
    left: 82%;
  }
  75% {
    top: 68%;
    left: 81%;
  }
  100% {
    top: 15%;
    left: 8%;
  }
}
@keyframes codeesura {
  0% {
    top: 73%;
    left: 78%;
  }
  25% {
    top: 23%;
    left: 90%;
  }
  50% {
    top: 75%;
    left: 90%;
  }
  75% {
    top: 62%;
    left: 36%;
  }
  100% {
    top: 23%;
    left: 78%;
  }
}
